/* Estilos de body */

body {
    text-align: center;
    font-family: cursive;
    font-size: 15px;
    }

    /* Estilos de header */

div {
    display: block;
    background-color: cornflowerblue;
}

nav {
    background-color: cornflowerblue;
    color: white;
    padding-bottom: 15px;
    

}

a {
    color: white;
}

img {
    padding: 10px;
    width:200px;
}
/* Estilos del main */
main {
    background-color: gainsboro;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-left: 550px;
    margin-right: 550px;
}

/* Titulos */

h1 {
    color: cornflowerblue;
}

h2 {
    color: cornflowerblue;
}

/*Parrafo*/

span {
    color: red;
}

/*Redes sociales*/
 li {list-style-type: none;

 }

 ul {
    border-radius: 50%;
    background-color: yellow;
    border: solid;
    width: 200px;
    margin: auto;
    width: 160px;
    height: 100px;
    padding-left: 0px;
    padding-top: 6px;
}

.fab.fa-facebook-square {
    color: red;
}

.Facebook {
    color: red;
}

.fab.fa-instagram-square {
     color: green;
}

.Instagram {
    color: green;
}

.fab.fa-twitter-square {
    color: blue;
}

.Twitter {
    color: blue;
}

.fab.fa-linkedin {
    color: green;
}

.Linkedin {
    color: green;
}
/* Estilos footer */

footer {
    color: white;
    background-color: cornflowerblue;
}

