/* Estilos de body */

body {
    text-align: center;
    font-family: cursive;
    font-size: 15px;
    }

    
/* Estilos del main */

main {
    background-color: gainsboro;
    padding-top: 20px;
    padding-bottom: 30px;
}

h1 {
    color: cornflowerblue;
}

h2 {
    color: cornflowerblue;
}

span {
    color: red;
}


/* Estilos de header */

div {
    display: block;
    background-color: cornflowerblue;
}

nav {
    background-color: cornflowerblue;
    color: white;

}

a {
    color: white;
}

img {
    padding: 10px;
}

/* Estilos footer */

footer {
    color: white;
    background-color: cornflowerblue;
}

